.chatHeader {
    flex-shrink: 0;
    height: 60px;
    background-color: pink;
    padding: 10px;
    color: black;
    display: flex;
    align-items: center;
}

.backButton {
    color: #fff !important;
}

.avatar {
    margin: 0 10px;
    background-color: #fff !important;
    color: pink !important;
}

.headerInfo {
    flex-grow: 1;
    
    h2 {
        margin: 0;
        font-size: 1.2em;
    }

    p {
        margin: 0;
        font-size: 0.9em;
        color: #696969;
    }
}
